<div class="container">
  <div class="bg">
    <div class="logo-wrapper"><img src="../../assets/images/linkedinWhite.png" /></div>
    <div class="mat-headline">Make the most of your professional life</div>

    <form class="login-form">
      <div class="inputs-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Email or Phone</mat-label>
          <input matInput placeholder="example@abc.com" type="email" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" />
        </mat-form-field>
      </div>
      <div class="mat-caption">
        By clicking Agree & Join, you agree to the LinkedIn User Agreement,
        Privacy Policy, and Cookie Policy.
      </div>
      <button type="submit" class="btn-wrapper" mat-raised-button>
        Agree & Join
      </button>
      <div class="text-center mat-subheading-2 ">
        <div>Already on LinkedIn? <a routerLink="/signin"> Sign in</a></div>
      </div>
    </form>
  </div>
</div>
