<div class="container">
  <div class="bg">
    <div class="logo-wrapper"><img src="../../assets/images/1200px-LinkedIn_Logo.svg.png" /></div>
    <div class="mat-headline">Welcome Back</div>
    <div class="mat-subheading-1">Don't miss your next opportunity. Sign in to stay updated on your professional world.
    </div>

    <form class="login-form">
      <div class="inputs-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Email or Phone</mat-label>
          <input matInput placeholder="example@abc.com" type="email" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" />
        </mat-form-field>
      </div>
      <button type="submit" class="btn-wrapper" mat-raised-button>
        Sign up
      </button>
    </form>
    <div class="text-center mat-subheading-2 " fxLayout="column" fxLayoutAlign="center center">
      <div><a href="#" class="">Forgot Password</a></div>

      <div>New to LinkedIn? <a routerLink="/signup"> Join now</a></div>
    </div>
  </div>
</div>
